*{
	outline: 0;
}

label{
	cursor: pointer;
}

a:hover, a:visited, a:active, a:focus{
	text-decoration: none;
}

/* Date time picker */
@import "datepicker3";
/* Date time picker */

/* File Input */
@import "fileinput";
/* File Input */